<!-- app/components/user-list/user-list.component.html -->
<div
  *ngIf="loading$ | async"
  class="loader-container flex items-center justify-center h-full"
>
  <app-loader></app-loader>
</div>

<div class="user-list-container mt-4" [@fadeInOut]>
  <div class="flex justify-center items-center mb-4">
    <h2 class="text-2xl font-bold">Users List</h2>
  </div>

  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4"
  >
    <mat-card
      *ngFor="let user of users$ | async"
      class="user-card"
      [routerLink]="['/users', user.id]"
    >
      <img
        [src]="user.avatar"
        alt="Avatar"
        class="w-16 h-16 rounded-full mx-auto mb-4"
      />
      <mat-card-title class="text-center text-lg font-semibold"
        >{{ user.first_name }} {{ user.last_name }}</mat-card-title
      >
      <mat-card-subtitle class="text-center text-gray-500">{{
        user.email
      }}</mat-card-subtitle>
    </mat-card>
  </div>

  <mat-paginator
    class="paginator mt-4"
    [length]="(totalUsers$ | async) || 0"
    [pageSize]="itemsPerPage"
    [pageSizeOptions]="[6]"
    (page)="onPageChange($event)"
  ></mat-paginator>
</div>
